form{
	width: 400px;
	text-align: center;
	display: inline-block;
}

p{
	margin: 10px 2px;
    display: inline-block;
    width: 50px;
}

div{
	margin: 10px 0px;
}

#buttons > * {
	margin: 0px 0px 0px 20px;
}